.header {
  background: #0275d8;
}
.header-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px 20px 10px 70px;
}
.header-container button {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
